<div class="bar col-sm-12 col-lg-12 col-md-12">
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="col-sm-6 col-lg-6 col-md-6 barlogo"><img class="logo" routerLink="/addblog" src="../assets/Portal Logo.svg" alt="Logo"></div>
      
      <div class="col-sm-3 col-lg-3 col-md-3 baritem">Test</div>
      <div class="col-sm-3 col-lg-3 col-md-3 baritem">Debate</div>
    </div>
    <div class="col-sm-2 col-lg-2 col-md-2 searchbox"><input type="text" class="search" placeholder="search"></div>
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="col-sm-4 col-lg-4 col-md-4 baritem">Requested</div>
      <div class="col-sm-4 col-lg-4 col-md-4"><img src="../assets/notification.png" alt="Notification"></div>
      <div class="col-sm-4 col-lg-4 col-md-4"><img src="../assets/user.png" alt="user"></div>
    </div>

  </div>
  <router-outlet></router-outlet>